<nav class="navbar navbar-expand-lg bg-dark justify-content-center">
        <a class="navbar-brand">

          &nbsp; Learn - AWS

        </a>


        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>

        </button>


          <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">


            <ul class="navbar-nav ms-auto">


              &nbsp;     &nbsp;     &nbsp;


              <li class="nav-item">


                  <button type="button" class="btn btn-outline-warning btn-lg">Login</button>

              </li>


              &nbsp;     &nbsp;     &nbsp;


              <li class="nav-item">



                  <button type="button" class="btn btn-outline-success btn-lg">Register</button>

              </li>


              &nbsp;     &nbsp;     &nbsp;


            </ul>


          </div>


    </nav>



    <br>


